src/main/resources/xsd/serveis/padro/dadesEspecifiques.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.aocat.net/padro" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.aocat.net/padro" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
    <xsd:element name="peticionResidente">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="numExpediente" type="xsd:string"/>
                <xsd:element name="tipoDocumentacion" type="xsd:int"/>
                <xsd:element name="documentacion" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="respuestaResidente">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="numExpediente" type="xsd:string"/>
                <xsd:element name="tipoDocumentacion" type="xsd:int"/>
                <xsd:element name="documentacion" type="xsd:string"/>
                <xsd:element name="codigoResultado" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="peticionMunicipioResidencia">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="numExpediente" type="xsd:string"/>
                <xsd:element name="tipoDocumentacion" type="xsd:int"/>
                <xsd:element name="documentacion" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="respuestaMunicipioResidencia">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="numExpediente" type="xsd:string"/>
                <xsd:element name="tipoDocumentacion" type="xsd:int"/>
                <xsd:element name="documentacion" type="xsd:string"/>
                <xsd:element name="codigoResultado" type="xsd:int"/>
                <xsd:element name="codigoMunicipio" type="xsd:string"/>
                <xsd:element name="codigoProvincia" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="peticionResidenteMunicipio">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="numExpediente" type="xsd:string"/>
                <xsd:element name="tipoDocumentacion" type="xsd:int"/>
                <xsd:element name="documentacion" type="xsd:string"/>
                <xsd:element name="codigoMunicipio" type="xsd:string"/>
                <xsd:element name="codigoProvincia" type="xsd:string"/>
                <xsd:element name="idescat" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="respuestaResidenteMunicipio">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="numExpediente" type="xsd:string"/>
                <xsd:element name="tipoDocumentacion" type="xsd:int"/>
                <xsd:element name="documentacion" type="xsd:string"/>
                <xsd:element name="codigoMunicipio" type="xsd:string"/>
                <xsd:element name="codigoProvincia" type="xsd:string"/>
                <xsd:element name="codigoResultado" type="xsd:int"/>
                <xsd:element name="fuente" type="xsd:string"/>
                <xsd:element name="idescatMotivo" type="xsd:int" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="peticionNumeroConvivientes">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="numExpediente" type="xsd:string"/>
                <xsd:element name="tipoDocumentacion" type="xsd:int"/>
                <xsd:element name="documentacion" type="xsd:string"/>
                <xsd:element name="codigoMunicipio" type="xsd:string"/>
                <xsd:element name="codigoProvincia" type="xsd:string"/>
                <xsd:element name="idescat" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="respuestaNumeroConvivientes">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="numExpediente" type="xsd:string"/>
                <xsd:element name="tipoDocumentacion" type="xsd:int"/>
                <xsd:element name="documentacion" type="xsd:string"/>
                <xsd:element name="codigoMunicipio" type="xsd:string"/>
                <xsd:element name="codigoProvincia" type="xsd:string"/>
                <xsd:element name="codigoResultado" type="xsd:int"/>
                <xsd:element name="numeroConvivientes" type="xsd:int"/>
                <xsd:any minOccurs="0" processContents="lax" namespace="##other" />
                <xsd:element name="fuente" type="xsd:string"/>
                <xsd:element name="idescatMotivo" type="xsd:int" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="peticionComprobacionConvivientes">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="numExpediente" type="xsd:string"/>
                <xsd:element name="tipoDocumentacion" type="xsd:int"/>
                <xsd:element name="documentacion" type="xsd:string"/>
                <xsd:element name="codigoMunicipio" type="xsd:string"/>
                <xsd:element name="codigoProvincia" type="xsd:string"/>
                <xsd:element name="numeroConvivientes" type="xsd:int"/>
                <xsd:element name="idescat" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="respuestaComprobacionConvivientes">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="numExpediente" type="xsd:string"/>
                <xsd:element name="tipoDocumentacion" type="xsd:int"/>
                <xsd:element name="documentacion" type="xsd:string"/>
                <xsd:element name="codigoMunicipio" type="xsd:string"/>
                <xsd:element name="codigoProvincia" type="xsd:string"/>
                <xsd:element name="codigoResultado" type="xsd:int"/>
                <xsd:element name="numeroConvivientes" type="xsd:int"/>
                <xsd:any minOccurs="0" processContents="lax" namespace="##other" />
                <xsd:element name="fuente" type="xsd:string"/>
                <xsd:element name="idescatMotivo" type="xsd:int" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="peticionDatosTitular">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="numExpediente" type="xsd:string"/>
                <xsd:element name="tipoDocumentacion" type="xsd:int"/>
                <xsd:element name="documentacion" type="xsd:string"/>
                <xsd:element name="codigoMunicipio" type="xsd:string" minOccurs="0"/>
                <xsd:element name="codigoProvincia" type="xsd:string" minOccurs="0"/>
                <xsd:element name="idescat" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="respuestaDatosTitular">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="numExpediente" type="xsd:string"/>
                <xsd:element name="tipoDocumentacion" type="xsd:int"/>
                <xsd:element name="documentacion" type="xsd:string"/>
                <xsd:element name="codigoMunicipio" type="xsd:string" minOccurs="0"/>
                <xsd:element name="codigoProvincia" type="xsd:string" minOccurs="0"/>
                <xsd:element name="codigoResultado" type="xsd:int"/>
                <xsd:any minOccurs="0" processContents="lax" namespace="##other" />
                <xsd:element name="fuente" type="xsd:string"/>
                <xsd:element name="idescatMotivo" type="xsd:int" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="peticionDatosConvivientes">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="numExpediente" type="xsd:string"/>
                <xsd:element name="tipoDocumentacion" type="xsd:int"/>
                <xsd:element name="documentacion" type="xsd:string"/>
                <xsd:element name="codigoMunicipio" type="xsd:string" minOccurs="0"/>
                <xsd:element name="codigoProvincia" type="xsd:string" minOccurs="0"/>
                <xsd:element name="idescat" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="respuestaDatosConvivientes">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="numExpediente" type="xsd:string"/>
                <xsd:element name="tipoDocumentacion" type="xsd:int"/>
                <xsd:element name="documentacion" type="xsd:string"/>
                <xsd:element name="codigoMunicipio" type="xsd:string" minOccurs="0"/>
                <xsd:element name="codigoProvincia" type="xsd:string" minOccurs="0"/>
                <xsd:element name="codigoResultado" type="xsd:int"/>
                <xsd:any minOccurs="0" processContents="lax" namespace="##other" />
                <xsd:element name="fuente" type="xsd:string"/>
                <xsd:element name="idescatMotivo" type="xsd:int" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="peticionValidacionConvivientes">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="numExpediente" type="xsd:string"/>
                <xsd:element ref="conviviente" maxOccurs="unbounded"/>
                <xsd:element name="codigoMunicipio" type="xsd:string"/>
                <xsd:element name="codigoProvincia" type="xsd:string"/>
                <xsd:element name="idescat" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="respuestaValidacionConvivientes">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="numExpediente" type="xsd:string"/>
                <xsd:element ref="conviviente" maxOccurs="unbounded"/>
                <xsd:element name="codigoMunicipio" type="xsd:string"/>
                <xsd:element name="codigoProvincia" type="xsd:string"/>
                <xsd:element name="codigoResultado" type="xsd:int"/>
                <xsd:any minOccurs="0" processContents="lax" namespace="##other" />
                <xsd:element name="fuente" type="xsd:string"/>
                <xsd:element name="idescatMotivo" type="xsd:int" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="conviviente">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="tipoDocumentacion" type="xsd:int"/>
                <xsd:element name="documentacion" type="xsd:string"/>
                <xsd:element name="fechaAltaPadron" type="xsd:string" minOccurs="0"/>
                <xsd:element name="resultado" type="xsd:int" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="peticionBusquedaTitular">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="numExpediente" type="xsd:string"/>
                <xsd:element name="tipoDocumentacion" type="xsd:int"/>
                <xsd:element name="documentacion" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="respuestaBusquedaTitular">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="numExpediente" type="xsd:string"/>
                <xsd:element name="tipoDocumentacion" type="xsd:int"/>
                <xsd:element name="documentacion" type="xsd:string"/>
                <xsd:element name="codigoMunicipioIdescat" type="xsd:string"/>
                <xsd:element name="codigoProvinciaIdescat" type="xsd:string"/>
                <xsd:element name="codigoResultadoIdescat" type="xsd:int"/>
                <xsd:element name="fechaIdescat" type="xsd:string"/>
                <xsd:element ref="resultadoBusqueda" maxOccurs="unbounded"/>
                <xsd:any minOccurs="0" processContents="lax" namespace="##other" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="resultadoBusqueda">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="codigoMunicipio" type="xsd:string"/>
                <xsd:element name="codigoProvincia" type="xsd:string"/>
                <xsd:element name="codigoResultado" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="peticionDatosTitularIDESCAT">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="numExpediente" type="xsd:string"/>
                <xsd:element name="tipoDocumentacion" type="xsd:int"/>
                <xsd:element name="documentacion" type="xsd:string"/>
                <xsd:element name="codigoMunicipio" type="xsd:string" minOccurs="0"/>
                <xsd:element name="codigoProvincia" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="respuestaDatosTitularIDESCAT">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="numExpediente" type="xsd:string"/>
                <xsd:element name="tipoDocumentacion" type="xsd:int"/>
                <xsd:element name="documentacion" type="xsd:string"/>
                <xsd:element name="codigoMunicipio" type="xsd:string" minOccurs="0"/>
                <xsd:element name="codigoProvincia" type="xsd:string" minOccurs="0"/>
                <xsd:element name="codigoResultado" type="xsd:int"/>
                <xsd:any minOccurs="0" processContents="lax" namespace="##other" />
                <xsd:element name="fuente" type="xsd:string"/>
                <xsd:element name="idescatMotivo" type="xsd:int" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>